<%= content_tag view.wrapper_tag, class: view.classes(:wrapper) do %>
  <div class="page-width">
    <%= ui_section_heading class: view.classes(:section_heading) do |section_heading| %>
      <%= section_heading.heading view.heading, tag: view.heading_tag, class: view.classes(:heading) %>
      <%= section_heading.subhead view.subhead, class: view.classes(:subhead) if view.subhead?  %>
    <% end %>

    <%= ui_module 'picture', view.picture_options if view.picture_options[:path].present? %>
    <%= ui_module 'image', view.image_options if view.image_options[:path].present? %>

    <%= capture(&view.block) if view.block %>
  </div>
<% end %>
